<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사람 추가</title>
</head>
<body>
    <h1>사람 추가 송수신</h1>
    <script>
        function playreq() {
          var xhr = new XMLHttpRequest();
          var jbRandom = String(Math.floor(Math.random()*65535));
          xhr.open("POST", "/api/sound/play_sound/", true);
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.send("randint="+jbRandom+"&senderid={{ user }}");
          var xhr2 = new XMLHttpRequest();
          xhr2.open("POST", "/api/sound/addkey/", true);
          xhr2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr2.send("randint="+jbRandom+"&senderid={{ user }}");
        }
        function recreq() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/api/sound/record_sound/", true);
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          var rec_key = xhr.send("receiverid={{ user }}");
          var xhr2 = new XMLHttpRequest();
          xhr2.open("POST", "/api/sound/editkey/", true);
          xhr2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr2.send("receiverid={{ user }}",rec_key);
        }
    </script>
    <button onclick="playreq()">키 추가 및 초음파 재생</button> &nbsp; <button onclick="recreq()">키 추가 및 초음파 재생</button>



        
</body>
</html>